:root {
    --primaryTextColor: #FFE500;
    --secondaryTextColor: #FFFF;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #7280FF;
    --secondaryBackgroundColor: #2F4A7E;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: white;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 7.5rem 0;

    --itemBorderRadius: 0.5rem;
    --itemBorderRadius2: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}


.navbar {
    padding: 15px;
    background: var(--primaryBackgroundColor) !important;
}

.navbar-nav .nav-link {
    color: white; 
    transition: color 0.3s; 
}

.navbar-nav .nav-link:hover {
    color: black !important; 
}

.mental-health {
    position: static;
    display: inline;
    
  
    margin-top: 8px;
    margin-left: -38px;
    width: 310px;
    height: 68px;
    right: 179px;
    top: 2143px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.022em;
    color: #FFE500;
}

.highlight {
    color: #FFFFFF;
}

.asikteen {
    position: static;
    display: inline;
    
    margin-top: 35px;
    margin-left: -123.5px;
width: 66px;
height: 23.9px;
left: 132px;
top: 2911.31px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.011em;

color: #1E1E1E;
}

#navbar-brand {
    display: flex;
    align-items: center;
}

#navbar-brand2 {
    display: flex;
    align-items: stretch;
}

#gambar-awal {
    display: flex;
    align-items: center;
}

.text-center {
    padding-top: 10rem;
    position: relative;
}

.text-center .text1 {
    color: white;
    background: var(--primaryBackgroundColor);
    opacity: 70%;
    border-radius: var(--itemBorderRadius);
    position: absolute;
    width: 450px;
    top: 430px;
    left: 150px;
}

.home2 {
    padding: var(--sectionPadding);
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
}

.home2 .home2-kiri {
    left: 30px;
}

.home2 .home2-kanan {
    position: relative;
    top: 50px;
    margin-right: 100px;
}

.home2 .home2-kanan h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.home2 .home2-kanan p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Layout */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: var(--itemBorderRadius2);
}

#fitur {
    padding: var(--sectionPadding);
}

.fitur {
    padding: 3rem 2rem;
    background-color: var(--secondaryBackgroundColor);
    border-radius: var(--itemBorderRadius2);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.fitur-tittle {
    padding: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}


.fitur-icon {
    position: absolute;
    top: 1530px;
    background-color: var(--secondaryBackgroundColor);
    width: fit-content;
    margin-left: 5rem;
    padding: 1rem 1rem;
    border-radius: var(--itemBorderRadius2);
    border: 4px solid var(--borderColor);
    outline-color: var(--borderColor);
    border-color: var(--borderColor);
}

.fitur-icon svg {
    width: fit-content;
    height: 30px;
    fill: var(--primaryIconColor);
}

.fitur h4 {
    color: var(--primaryTextColor);
    font-size: 25px;
    font-weight: 500;
}

.fitur p {
    color: white;
    font-size: 16px;
    font-weight: 200;
}



#result-container {
    position: relative;
    text-align: center; 
    border-radius: 5px; 
    padding: 19px;
    float: right; 
    margin-top: -290px;
    border-radius: 10px;
    box-sizing: border-box; 
    overflow: hidden;
    left: -115px;
}
#result {
    padding: 10px;
    margin-top: 25px; 
    font-size: 15px;
    justify-content: flex-end; 
    text-align: center;
    color: white;
    font-weight: bold;
}

#result-container img {
    width: 215px;
    height: auto;
    display: block; 
    margin: 0 auto; 
    margin-bottom: -10px; 
    margin-top: -17px;
    position: relative; 
    z-index: 1; 
}

#question-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -44px;
}

#question-container dt {
    text-decoration: none;
    font-weight: 200;
    border: 2px solid var(--borderColor);
    width: 500px;
    border-radius: 15px;
    margin: 10px;
    padding: 8px;
}

input[type="checkbox"] {
    display: block;
    margin-left: 200px;
}

#question-container .test-kanan .background-img img {
    margin-left: 137px;
    width: 500px;
    height: 280px;
}

#submit-button {
    position: absolute;
    background-color: #4ECB71; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    float: right; 
    left: 743px;
    top: 490px;
}

#submit-button:hover {
    background-color: #45a766; 
}

#result-container div {
    position: relative;
    z-index: 2; 
}

.navbar-hide {
    transition: top 0.3s ease-in-out;
}

/*List Video*/
.container-video {
    padding: var(--sectionPadding);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: var(--itemBorderRadius2);
    padding: var(--sectionPadding);
}

.list {
    padding: 0;
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
}

.list-video {
    height: 200px;
}

.list-video img {
    border: 1px solid var(--borderColor);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.video-tittle a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.05rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.video-tittle a:hover{
    fill: blue;
}